.ponto {
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
    margin: 0;
    z-index: 2;
}

.espaco-horizontal{
    width: 50px;
    height: 15px;
}

.espaco-vertical{    
    height: 50px;
}