.ponto {
    width: 15px;
    height: 15px;
    background-color: #333;
    border-radius: 50%;
    margin: 0;
    z-index: 2;
}

.espaco-horizontal{
    width: 50px;
    height: 15px;
}

.espaco-vertical{    
    height: 50px;
    width: 100%;

}

.linha-jogo {
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.3s;
}

.linha-jogo:hover {
    background-color: #ccc;
}

.ocupada-p1 {
    background-color: blue !important;
}