.ponto {
    width: 22.5px;
    height: 22.5px;
    background-color: #333;
    border-radius: 50%;
    margin: 0;
    z-index: 2;
    position: relative;
}

.espaco-horizontal{
    width: 75px;
    height: 7.5px;
    position: relative;
    top: 0px;
}

.espaco-vertical{    
    height: 75px;
    width: 7.5px;
    margin: 0 7.5px;
}

.espaco-invisivel {
    width: 75px;    
    height: 75px;      
    background: transparent;
}

.linha-jogo {
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.3s;
}

.linha-jogo:hover {
    background-color: #ccc;
}

.ocupada-p1 {
    background-color: blue !important;
}